.authentication-page {
  background-color: gray;
  height: 100vh;
  display: flex;
}

.authentication-page__image {
  background-image: url("https://images.unsplash.com/photo-1528605105345-5344ea20e269?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1 auto;
  height: 100%;
}

.authentication-page__form-content {
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 75px 80px;
  max-width: 540px;
  width: 100%;
}

.authentication-page__title-medium {
  margin-bottom: 50px;
}

.sign-in-form {
  margin-bottom: 40px;
  width: 100%;
}

.sign-in-form__inputs {
  margin-bottom: 50px;
}

.sign-in-form__label {
  display: block;
  position: relative;
  width: 100%;
}

.sign-in-form__input {
  background-color: transparent;
  border: none;
  border-bottom: #DCDFE4 1px solid;
  color: #637279;
  font-family: 'Inter UI', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 33px 0 18px;
  position: relative;
  transition: color 100ms ease;
  width: 100%;
  z-index: 2;
}

.sign-in-form__input:focus {
  color: #152944;
  outline: none;
}

.sign-in-form__label-text {
  color: #8C98A6;
  font-family: 'Inter UI', sans-serif;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  position: absolute;
  transition: transform 150ms ease;
  top: 33px;
  z-index: 1;
}

.sign-in-form__input:focus + .sign-in-form__label-text {
  transform: translateY(-33px) scale(0.85) translateX(-5px);
}

.sign-in-form__label-text--value {
  transform: translateY(-33px) scale(0.85) translateX(-5px);
}

.sign-in-form__icon {
  bottom: 17px;
  display: inline-flex;
  position: absolute;
  right: 0;
}

.sign-in-form__icon svg {
  stroke: #8C98A6;
  transition: stroke 100ms ease;
  width: 22px;
}

.sign-in-form__input:focus ~ .sign-in-form__icon svg {
  stroke: #152944;
}

.sign-in-form__register {
  margin-bottom: 15px;
  transition: opacity 100ms ease;
  width: 100%;
}

.authentication-page__question {
  color: #24354F;
  font-family: Inter UI;
  font-size: 15px;
  font-weight: 500;
}

.authentication-page__link {
  color: #2B4FC7;
  font-weight: 600;
}

.authentication-page__copy-rights {
  color: #8C98A6;
  font-family: 'Inter UI', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}
