.dashboard-page {
  background-color: #f5f9fc;
  padding: 64px 10% 128px;
}

.dashboard-page__head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.dashboard-page__welcome-message {
  color: #0b2a4a;
  font-family: Inter UI;
  font-size: 36px;
  font-weight: 300;
}

.dashboard-page__button {
  background-color: #1c85e8;
  border-radius: 3px;
  color: #ffffff;
  font-family: Inter UI;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 20px;
}

.dashboard-page__button:focus,
.dashboard-page__button:hover {
  cursor: pointer;
}

.dashboard-page__button--invert {
  background-color: transparent;
  border: 2px solid #1c85e8;
  color: #1c85e8;
  padding: 13px 18px;
}

.dashboard-page__button--invert:focus,
.dashboard-page__button--invert:hover {
  background-color: #1c85e8;
  color: #ffffff;
}

.dashboard-page__box {
  background-color: #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 30px 0;
  padding: 40px 30px;
}

.dashboard-page__box_icon {
  width: 200px;
}

.dashboard-page__box_thumbnail {
  width: 125px;
}

.dashboard-page__box_content {
  flex: 1;
  margin-right: 30px;
}

.dashboard-page__box_title {
  color: #0b2a4a;
  font-family: Inter UI;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 20px;
  max-width: 70%;
  width: 100%;
}

.dashboard-page__box_description {
  color: #525975;
  font-family: Inter UI;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.65;
  max-width: 85%;
  width: 100%;
}

.dashboard-page__label {
  color: #525975;
  font-family: Inter UI;
  font-size: 13px;
  font-weight: 700;
  padding-top: 40px;
  text-transform: uppercase;
}