.event-page-stripe {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  height: 400px;
}

.title {
  margin-bottom: 20px;
  color: #1C85E8 !important;
}

.container  {
  width: 500px;
  margin: 0 auto;
}

.titleSub {
  color: #F15980;
  font-size: 22px;
}

.titleSuuces {
  color: #2ecc71;
}

.buttonSuccess {
  margin-top: 50px;
}