.sign-in-form__label {
  margin-bottom: 20px;
}

.sign-in-form__helper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sign-in-form__error {
  align-items: center;
  color: #F15980;
  display: flex;
  flex: 1 1 auto;
  font-family: 'Inter UI', sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.sign-in-form__error-icon {
  display: inline-flex;
  margin-right: 10px;
  width: 16px;
}

.sign-in-form__error-icon svg { 
  stroke: #F15980;
}

.sign-in-form__forgot-password {
  color: #2950C7;
  display: inline-flex;
  font-family: 'Inter UI', sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
  margin-right: auto;
  text-align: right;
  text-decoration: none;
}