.event {
  margin: 20px 20px 20px 0;
  max-width: 390px;
  width: 100%;
}

.event__top {
  background-color: #999999;
  height: 240px;
  margin-bottom: 15px;
  position: relative;
}

.event__thumbnail {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.event__type-and-amount {
  align-items: center;
  bottom: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0 20px;
  position: absolute;
  width: 100%;
}

.event__amount {
  color: #ffffff;
  font-family: Inter UI;
  font-size: 18px;
  font-weight: 600;
}

.event__type {
  background-color: #68e1c7;
  border-radius: 2px;
  color: #ffffff;
  font-family: Inter UI;
  font-size: 12px;
  font-weight: 400;
  padding: 3px 5px;
  text-transform: capitalize;
}

.event__address-and-time {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.event__title {
  color: #1d2c4c;
  font-family: Inter UI;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  margin: 15px 0 12px;
}

.event__address,
.event__time {
  color: #525975;
  font-family: Inter UI;
  font-size: 14px;
  font-weight: 400;
}

