.event-page {
  background-color: #ffffff;
  width: 100%;
}

.event-page__head {
  padding: 64px 10%;
}

.event-page__data {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.event-page__title {
  color: #1d2c4c;
  font-family: Inter UI;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 15px;
  max-width: 750px;
  width: 100%;
}

.event-page__address {
  color: #525975;
  font-family: Inter UI;
  font-size: 14px;
  font-weight: 400;
}

.event-page__ticket-purchase {
  align-items: center;
  border-left: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  padding-left: 75px;
}

.event-page__ticket-price {
  color: #1d2c4c;
  font-family: Inter UI;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 7px;
}

.event-page__buy-ticket {
  background-color: #1c85e8;
  border-radius: 3px;
  color: #ffffff;
  font-family: Inter UI;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 20px;
}

.event-page__buy-ticket:focus,
.event-page__buy-ticket:hover {
  cursor: pointer;
}

.event-page__thumbnail {
  height: 550px;
  width: 100%;
}

.event-page__thumbnail-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.event-page__description-content {
  display: flex;
  justify-content: space-between;
  padding: 64px 10%;
  position: relative;
}

.event-page__description-left {
  flex: 1;
  padding-right: 75px;
}

.event-page__description-left_text {
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 50px;
  padding-bottom: 25px;
}

.event-page__description-title {
  color: #171c31;
  font-family: Inter UI;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 30px;
}

.event-page__description-message {
  color: #525975;
  font-family: Inter UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 20px;
}

.event-page__features {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.event-page__feature-box {
  align-items: center;
  display: flex;
  margin-bottom: 50px;
  padding-right: 100px;
  width: 250px;
}

.event-page__feature-box_icon {
  margin-right: 20px;
}

.event-page__feature-box_text {
  color: #64656d;
  font-family: Inter UI;
  font-size: 16px;
  font-weight: 400;
}

.event-page__description-right {
  display: flex;
  height: fit-content;
  position: relative;
  top: -120px;
  width: 350px;
}

.event-page__guarantee-box {
  background-color: #edf5fd;
  box-sizing: border-box;
  padding: 35px 30px;
  width: 100%;
}

.event-page__guarantee-box-inner {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.event-page__guarantee-box-inner_content {
  margin: 15px 0 20px 20px;
}

.event-page__guarantee-box-inner_text {
  align-items: flex-start;
  display: flex;
  margin-bottom: 10px;
}

.event-page__guarantee-box-inner_title {
  color: #15213b;
  font-family: Inter UI;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.event-page__guarantee-box-inner_title > span {
  font-weight: 700;
}

.event-page__guarantee-box-inner_description {
  color: #646a7a;
  font-family: Inter UI;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

.event-page__guarantee-box-inner_button {
  background-color: transparent;
  border: 2px solid #1c85e8;
  border-radius: 5px;
  color: #1c85e8;
  font-family: Inter UI;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 20px;
  width: 100%;
}

.event-page__guarantee-box-inner_button:focus,
.event-page__guarantee-box-inner_button:hover {
  background-color: #1c85e8;
  color: #ffffff;
  cursor: pointer;
}
