.footer {
  background-color: #ffffff;
}

.footer__container {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  padding: 80px 0 50px;
  width: 100%;
}

.footer__section {
  flex: 1;
}

.footer__logo {
  display: flex;
  margin-bottom: 10px;
}

.footer__copy-rights {
  color: #A1A7AC;
  font-family: Inter UI;
  font-size: 11px;
  font-weight: 400;
}

.footer__section-title {
  color: #1D2C4C;
  font-family: Inter UI;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 25px;
}

.footer__section-menu-item {
  margin-bottom: 18px;
}

.footer__section-menu-item-link {
  color: #525975;
  font-family: Inter UI;
  font-size: 13px;
  font-weight: 400;
}

.footer__section-menu-item-link:focus,
.footer__section-menu-item-link:hover {
  text-decoration: underline;
}