.create-event textarea {
  /* reset */
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

.create-event__head {
  background-color: #fafafa;
  border-bottom: 1px solid #dee7ef;
  display: flex;
  padding: 64px 15%;
}

.create-event__head_left {
  border-right: 1px solid #e7efe7;
}

.create-event__head_left,
.create-event__head_right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.create-event__label {
  color: #525975;
  font-family: Inter UI;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}

.create-event__select {
  background-color: transparent;
  border: none;
  color: #0b2a4a;
  display: inline-flex;
  font-family: Inter UI;
  font-size: 26px;
  font-weight: 800;
  padding-right: 25px;
  text-transform: uppercase;
}

.create-event__select > option {
  font-weight: 800;
}

.create-event__label_text {
  color: #9097b9;
  font-family: Inter UI;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-left: 20px;
}

.create-event__link {
  align-items: center;
  color: #1C85E8;
  display: flex;
  font-family: Inter UI;
  font-size: 12px;
  font-weight: 600;
  margin-left: 20px;
  text-transform: uppercase;
  width: fit-content;
}

.create-event__link:focus,
.create-event__link:hover {
  cursor: pointer;
}

.create-event__link:focus > div,
.create-event__link:hover > div {
  transform: translateX(5px);
}

.create-event__link > div {
  display: inline-flex;
  padding-left: 5px;
  transition: transform 200ms ease;
}


.create-event__body {
  background-color: #ffffff;
  padding: 64px 15%;
}

.create-event__title {
  color: #0b2a4a;
  display: flex;
  font-family: Inter UI;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 64px;
  width: 80%;
}

.create-event__title::placeholder {
  color: #dee7ef;
}

.create-event__thumbnail {
  background-color: #dee3e6;
  height: 550px;
  margin-bottom: 64px;
  width: 100%;
}

.create-event__thumbnail:focus,
.create-event__thumbnail:hover {
  cursor: pointer;
}

.create-event__thumbnail-src {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.create-event__description {
  color: #525975;
  display: flex;
  font-family: Inter UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 25px;
  width: 95%;
}

.create-event__description::placeholder {
  color: #d5dae4;
}

.create-event__description_actions {
  align-items: center;
  display: flex;
}

.create-event__date-and-time {
  align-items: center;
  display: flex;
  padding-bottom: 64px;
}

.create-event__input-large {
  background-color: transparent;
  border: none;
  color: #0b2a4a;
  display: inline-flex;
  font-family: Inter UI;
  font-size: 26px;
  font-weight: 800;
  outline: none;
  padding-right: 25px;
  text-transform: uppercase;
}

.create-event__input-large::placeholder {
  color: #dee7ef;
}

.create-event__submit-btn {
  background-color: #1c85e8;
  border-radius: 3px;
  color: #ffffff;
  font-family: Inter UI;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 20px;
}

.create-event__submit-btn:focus,
.create-event__submit-btn:hover {
  cursor: pointer;
}