.main {
  background-color: #ffffff;
}

.main-hero {
  align-items: flex-end;
  background-image: url(https://images.unsplash.com/photo-1528605248644-14dd04022da1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  display: flex;
  height: 585px;
  justify-content: center;
  margin-bottom: 100px;
  position: relative;
}

.main-hero::after {
  background-color: #ffffff;
  bottom: -100px;
  content: '';
  height: 100px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.blue-block {
  background-color: #1C85E8;
  bottom: -100px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-width: 740px;
  padding: 50px;
  position: absolute;
  width: 100%;
}

.blue-block__label {
  color: #002d80;
  font-family: Inter UI;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.blue-block__title {
  color: #ffffff;
  font-family: Inter UI;
  font-size: 36px;
  font-weight: 600;
  margin: 0 auto 35px;
  max-width: 75%;
  text-align: center;
  width: 100%;
}

.blue-block__search-string {
  align-items: center;
  display: flex;
  justify-content: center;
}

.blue-block__search-string-fields {
  color: #ffffff;
  font-family: Inter UI;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.blue-block__search-string-fields > select {
  background-color: #1C85E8;
  border: none;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  font-family: Inter UI;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0;
}

.blue-block__search-string-fields > select:focus,
.blue-block__search-string-fields > select:hover {
  cursor: pointer;
}

.blue-block__button {
  background-color: #ffffff;
  border-radius: 3px;
  color: #1C85E8;
  font-family: Inter UI;
  font-size: 14px;
  font-weight: 500;
  margin-left: 30px;
  padding: 17px 19px;
}

.blue-block__button:focus,
.blue-block__button:hover {
  cursor: pointer;
}

.eventsbook-message {
  background-color: #ffffff;
  padding-top: 64px;
}

.eventsbook-message__text {
  color: #002d80;
  font-family: Inter UI;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 560px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

.why-us {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 960px;
  padding: 64px 0;
  width: 100%;
}

.why-us__container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.why-us__block {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 15px;
}

.why-us__title {
  color: #1d2c4c;
  font-family: Inter UI;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0 12px;
  text-align: center
}

.why-us__description {
  color: #525975;
  font-family: Inter UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center
}

.sign-to-event {
  background-image: url(https://images.unsplash.com/photo-1509580299471-8e6bbc24318e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-position: center top;
  background-size: cover;
  padding: 64px 0;
}

.sign-to-event__label {
  color: #1d2c4c;
  font-family: Inter UI;
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 50px;
  text-align: center;
}

.sign-to-event__steps-block {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  padding-bottom: 50px;
  width: 100%;
}

.sign-to-event__step {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 3%;
}

.sign-to-event__step:nth-child(2) {
  position: relative;
}

.sign-to-event__step:nth-child(2)::after,
.sign-to-event__step:nth-child(2)::before {
  background-color: #c2c8d1;
  content: '';
  height: 2px;
  position: absolute;
  top: 18px;
  width: 70%;
}

.sign-to-event__step:nth-child(2)::after {
  left: -35%;
}

.sign-to-event__step:nth-child(2)::before {
  right: -35%;
}

.sign-to-event__step-number {
  align-items: center;
  border: 2px solid #1c85e8;
  border-radius: 100%;
  color: #1c85e8;
  display: inline-flex;
  font-family: Inter UI;
  font-size: 17px;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  margin-bottom: 10px;
  width: 35px;
}

.sign-to-event__step-description {
  color: #525975;
  display: inline-flex;
  font-family: Inter UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.sign-to-event__video {
  background-color: #525975;
  height: 403px;
  margin: 0 auto;
  width: 720px;
}