.header {
  background-color: #ffffff;
  width: 100%;
}

.nav {
  align-items: center;
  display: flex;
  height: 85px;
  padding: 0 20px;
}

.nav__section {
  flex: 1;
}

.nav__logo {
  display: inline-flex;
}

.nav__menu {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav__menu-item {
  color: #525975;
  font-family: Inter UI;
  font-size: 15px;
  font-weight: 400;
  margin-left: 35px;
}

.nav__menu-item:first-child {
  margin-left: 0;
}

.nav__menu-item-link {
  color: #525975;
  text-decoration: none;
}

.nav__menu-item-link:focus,
.nav__menu-item-link:hover {
  color: #1C85E8;
}

.nav__user-actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.nav__menu-item-link--blue {
  color: #1C85E8;
}

.nav__menu-item-link--button {
  background-color: #1C85E8;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 13px 19px;
}

.nav__menu-item-link--button:focus,
.nav__menu-item-link--button:hover {
  color: #ffffff;
}