.primary-large-button {
  align-items: center;
  background-color: #0BB3E4;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  font-family: 'Inter UI', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  justify-content: center;
}

.primary-large-button:focus,
.third-party-login-button:focus,
.primary-large-button:hover,
.third-party-login-button:hover {
  cursor: pointer;
}

.primary-large-button:disabled,
.third-party-login-button:disabled {
  cursor: not-allowed;
  opacity: 0.35;
}

.third-party-login-button {
  align-items: center;
  background-color: #234BC5;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  font-family: 'Inter UI', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  justify-content: center;
}